<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>

<div class="row">
  <div class="centercolumn">
    <div class="card">
      <h1>Bankkonton</h1>

      <p>Information om vilka konton som ägs och är delade med id: <%= customer %>.</p>

      <pre><%#= JSON.stringify(res, null, 4) %></pre>

      <table id="customers">
          <tr>
              <th>Kontonummer</th>
              <th>Saldo</th>
              <th>Innehavare</th>
              <th>Alternativ</th>
          </tr>
      <% for (const row of res) { %>
          <tr>
              <td><%= row.idBankkonto %></td>
              <td><%= row.saldo %></td>
              <td><%= row.holder %></td>
              <td><a class="fa fa-credit-card" href = "transfer-money/<%= row.idBankkonto %>"></a>
                  <a class="fa fa-eye" href = "view-account/<%= row.idBankkonto %>"></a>
                  <a class="fa fa-balance-scale" href = "accumulatedInterest/<%= row.idBankkonto %>"></a>
              </td>
          </tr>
      <% }; %>
      </table>

    </div>
  </div>
</div>
<%- include("../footer"); %>
