<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>

<div class="row">
  <div class="centercolumn">
    <div class="card">
      <table id="customers">
          <tr>
              <th>Id</th>
              <th>Förnamn</th>
              <th>Efternamn</th>
              <th>Födelsedatum</th>
              <th>Adress</th>
              <th>Ort</th>
          </tr>
      <% for (const row of res) { %>
          <tr>
              <% if (row.idKund != 1) { %>
              <td><%= row.idKund %></td>
              <td><%= row.fornamn %></td>
              <td><%= row.efternamn %></td>
              <td><%= row.fodd %></td>
              <td><%= row.adress %></td>
              <td><%= row.ort %></td>
              <% } %>
          </tr>
      <% }; %>

      </table>
    </div>
  </div>
</div>

<%- include("../footer"); %>
