<%- include("../header", {title: title}); %>


<div class="row">
  <div class="centercolumn">
    <div class="card">
      <h1>Kund lista</h1>
      <table>
          <tr>
              <th>Id</th>
              <th>Förnamn</th>
              <th>Efternamn</th>
              <th>Födelsedatum</th>
              <th>Adress</th>
              <th>Ort</th>
          </tr>
      <% for (const row of res) { %>
          <tr>

              <td><%= row.idKund %></td>
              <td><%= row.fornamn %></td>
              <td><%= row.efternamn %></td>
              <td><%= row.fodd %></td>
              <td><%= row.adress %></td>
              <td><%= row.ort %></td>
          </tr>
      <% }; %>

      </table>
    </div>
  </div>
</div>

<%- include("../footer"); %>
