<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>
<body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <table id="customers">
        <h3>Loggtabell</h3>
          <tr>
              <th>Logg id</th>
              <th>Action</th>
              <th>Konto</th>
              <th>Saldo</th>
              <th>SaldoTransaktion</th>
              <th>Tid</th>
          </tr>
        <% for (const row of res) { %>
          <tr>
              <td><%= row.loggID %></td>
              <td><%= row.action %></td>
              <td><%= row.kontoNummer %></td>
              <td><%= row.saldo %></td>
              <td><%= row.saldoTransaktion %></td>
              <td><%= row.tid %></td>
          </tr>
        <% }; %>
      </table>

    </div>

    <div class="card">
      <h2></h2>

    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
      <table id="customers">
        <h3>Totala bankpengar</h3>
          <tr>
              <th>Summa</th>
          </tr>
          <tr>
              <td></td>
          </tr>

      </table>
    </div>

      <div class="card">
      <h3>Hemligt konto</h3>
        <table id="customers">
            <tr>
                <th>Banksumma</th>
                <th>Bank id</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </div>
  </div>
</div>

</body>
<%- include("../footer"); %>
