<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>
<div class="row">
  <div class="centercolumn">
    <div class="card2">
       <form class="frominput" method="post">
          <fieldset class="fieldsetinput">
              <<h1>Överför pengar från konto: <%= accID %></h1>

              <h4>Välj vilket konto du ska skicka till sedan belopp.</h4>
              <legend></legend>
              <input id="dOwnBankkonto" type="number" name="ownId" readonly value="<%= accID %>">
              <br>
              <input id="idBankkonto" type="number" name="idBankkonto" placeholder="Id..">
              <br>
              <input id="amount" type="number" name="amount" placeholder="Summa..">
              <br>
              <input type="submit" name="doit" value="Överför">
          </fieldset>
       </form>
    </div>
  </div>
</div>
<%- include("../footer"); %>
