<%- include("../header", {title: title, user: user}); %>
<%- include("../nav"); %>

<div class="row">
  <div class="centercolumn">
    <div class="card">
      <h1>Överför pengar från konto: <%= id %></h1>

      <h4>Välj belopp att flytta och sedan till vilket konto.</h4>

      <pre><%#= JSON.stringify(res, null, 4) %></pre>

      <table id="customers">
          <tr>
              <th>Kontonummer</th>
              <th>Saldo</th>
              <th>Innehavare</th>
              <th>Alternativ</th>
          </tr>
      <% for (const row of res) { %>
              <tr>
                  <td><%= row.idBankkonto %></td>
                  <td><%= row.saldo %></td>
                  <td><%= row.holder %></td>
                  <td></a><a class="fa fa-credit-card"><a class="fa fa-edit"><a class="fa fa-trash-o"></a></td>
              </tr>
      <% }; %>
      </table>

    </div>
  </div>
</div>
<%- include("../footer"); %>
